[project]
	description = Pulling Glance stores out of... Glance
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/FlaPer87
[access "refs/for/refs/*"]
	read = group user/FlaPer87
	push = group user/FlaPer87
	label-Code-Review = -2..+2 group user/FlaPer87
	label-Verified = -1..+1 group user/FlaPer87
	rebase = group user/FlaPer87
	removeReviewer = group user/FlaPer87
	submit = group user/FlaPer87
[access "refs/heads/*"]
	read = group user/FlaPer87
	create = group user/FlaPer87
	push = +force group user/FlaPer87
	pushMerge = group user/FlaPer87
[access "refs/tags/*"]
	push = +force group user/FlaPer87
	pushTag = group user/FlaPer87
	pushSignedTag = group user/FlaPer87
